<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Landing Page</title>
        <!-- Create a flask project capable of handling the following routes:

        localhost:5000/    This route should serve a view file called index.html and display a greeting.
        localhost:5000/ninjas    This route should serve a view file called ninjas.html and display information about ninjas.
        localhost:5000/dojos/new    This route should serve a view file called dojos.html and have a form (don't worry where the form should be sent to - action=' ').
        Now create a folder inside of our project labeled static. Remember, this static folder will be used to serve all of our static content (stylesheets, images, javascript files, etc.)! Now try placing a stylesheet in the static folder and referencing it in our view files (templates).  -->
        <link rel="stylesheet" type="text/css" href="/Users/paulmaclachlan/Desktop/CodingDojoGIT/PMac/Python/VirtualEnvs/landing_page/static/style.css">
    </head>
    <body>
        <h1>Greetings!</h1>
    </body>
</html>
