<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            li { 
                list-style: none; 
                display: inline-block;
                margin: 0; 
                padding: 0; 
            }
        </style>
    </head>
    <body>
        <h1>Jinja and Flask Fun</h1>
        <h5>You've visited this page {{ session['counter'] }} times!</h5>
        <ul>
            {% for i in range(4) %}
        <li>{{i}} <a href="/dojos">Dojos</a></li>
            {% endfor %}
        </ul>
        <form action="/results" method="post">
            <input type="text" name="Username" placeholder="Username">
            <input type="text" name="Password" placeholder="Password">
            <input type="submit" name="button"></input>
        </form>
    </body>
</html>


<!-- https://vimeo.com/200739328/bd298321b0 -->
