<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login & Reg | Success</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <style media="screen">
            .green {
                background-color: #39FF3C;
            }
        </style>
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <p class="green">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <h1>Success!</h1>
        <h1>Welcome, </h1>
        <!-- {% for name in userName %} -->
        {% if userName %}
        <h1>{{ userName }}</h1>
        {% endif %}
        <!-- {% endfor %} -->
        <!-- <p>(PLACEHOLDER: Successfully registered (or logged in)!)</p> -->
        <br>
        <form class="" action="/logout" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Log out">
        </form>
        <!-- <button type="button" name="/logout">Log Out</button> -->
        <!-- {% if request.session.is_logged %} -->
			<!-- <a href="/logout">Log out</a> -->
		<!-- {% else %} -->
        <!-- {% endif %} -->
    </body>
</html>
