<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- added cheap bootstrap for ugliness -->
    </head>
    <body>
        <h1>Current Time and Date:</h1>
        <!-- initially thought this is how I needed to dislpay date time: -->
        <!-- <div class="line"><span class="text html basic"><span>
            {% for key in context %}
            <h1> {{context.timetest}} </h1>
            {% endfor %}
        </span></span></div> -->
        <div class="time_date">
            <h1>{{date}}</h1>
            <h1>{{time}}</h1>
        </div>
        <form action="/show" method = 'post'>{% csrf_token %}
            <input type="text" name="first_name">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
